spring:
  profiles:
    active: local
  application:
    name: backend

  datasource:
    url: ${SPRING_DATASOURCE_URL}
    username: ${SPRING_DATASOURCE_USERNAME}
    password: ${SPRING_DATASOURCE_PASSWORD}
    #driver-class-name: com.mysql.cj.jdbc.Driver
    driver-class-name: ${SPRING_DATASOURCE_DRIVER}

  jpa:
    hibernate:
      #      ddl-auto: create
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        use_sql_comments: true
        #dialect: org.hibernate.dialect.MySQL8Dialect
        dialect: ${DIALECT}

logging:
  level:
    org.springframework.security: INFO
    #    org.springframework.security: DEBUG
    org.springframework.web: WARN
    com.swa2502.backend: INFO
#    com.swa2502.backend: DEBUG

server:
  port: ${PORT}

jwt:
  secret: ${JWT_SECRET}